main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

main .cursos {
  display: flex;
  align-items: center;
  width: 40%;
}

main .cursos figure {
  text-align: center;
}

main .cursos figure img {
  padding: 10px;
  width: 200px;
  border: 5px solid #62a87c;
  border-radius: 10px;
}

main .cursos p {
  width: 40%;
}
