  
main {
    text-align: center;
    padding: 20px;
  }
  
  main #container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  main #container .profs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 10px;  
  }

  main #container .profs p{
    text-align: justify;
    height: 150px;
  }
