 #principal .swiper-container {
  height: 600px;
}

 #principal .swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main #metodologia {
  text-align: center;
  background-color: #8ee3ef;
  margin: 20px;
  border-radius: 4px;
}

main #metodologia h2 {
  padding: 20px;
  font-size: 40px;
  color: #473080;
}

main #metodologia #metodologia-bloco {
  display: flex;
  justify-content: space-around;
}

main #metodologia #metodologia-bloco .blocos {
  width: 20%;
}

main #metodologia #metodologia-bloco .blocos .titulo {
  background-color: #473080;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
}

main #metodologia #metodologia-bloco .blocos .titulo img {
  width: 80px;
  height: auto;
}

main #metodologia #metodologia-bloco .blocos .titulo h3 {
  color: #fff;
  font-size: 30px;
}

main #metodologia #metodologia-bloco .blocos .texto {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}

main #metodologia #metodologia-bloco .blocos .texto ul {
  list-style: circle;
  font-weight: bold;
  padding: 10px;
}

main #mais {
  text-align: center;
  padding: 20px;
}

main #mais h2 {
  font-size: 12px;
}

main #mais h1, #mais h2, #mais a {
  padding: 10px;
  margin-bottom: 10px;
}

main #mais a {
  text-decoration: none;
  border: 2px solid #62a87c;
  border-radius: 10px;
  color: #62a87c;
  font-weight: bold;
  transition: 0.2s;
}

main #mais a:hover {
  background-color: #62a87c;
  color: #fff;
}
