* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  min-width: 100vw;
}

header {
  height: 100px;
  background-color: #62a87c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 100px;
  width: auto;
}

header nav {
  width: 40%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

header nav ul li a:hover {
  color: #473080;
}

header #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

header #search ion-icon {
  color: #fff;
  font-size: 30px;
}

header #search input {
  border-radius: 4px;
}

main #principal .swiper-container {
  height: 600px;
}

main #principal .swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #metodologia {
  text-align: center;
  background-color: #8ee3ef;
}

main #metodologia h2 {
  padding: 20px;
  font-size: 40px;
  color: #473080;
}

main #metodologia #metodologia-bloco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #metodologia #metodologia-bloco .blocos {
  width: 20%;
}

main #metodologia #metodologia-bloco .blocos .titulo {
  background-color: #473080;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 150px;
}

main #metodologia #metodologia-bloco .blocos .titulo img {
  width: 80px;
  height: auto;
}

main #metodologia #metodologia-bloco .blocos .titulo h3 {
  color: #fff;
  font-size: 30px;
}

main #metodologia #metodologia-bloco .blocos .texto {
  background-color: #fff;
  height: 100%;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}

main #metodologia #metodologia-bloco .blocos .texto ul {
  list-style: circle;
  font-weight: bold;
  padding: 10px;
}

#mais {
  text-align: center;
  padding: 20px;
}

#mais h2 {
  font-size: 12px;
}

#mais h1, #mais h2, #mais a {
  padding: 10px;
}

#mais a {
  text-decoration: none;
  border: 2px solid #62a87c;
  border-radius: 10px;
  color: #62a87c;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#mais a:hover {
  background-color: #62a87c;
  color: #fff;
}

footer #logo-Inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #logo-Inf img {
  height: 100px;
  width: auto;
}

footer #logo-Inf hr {
  width: 100%;
  border: 1px solid;
}

footer #container-footer {
  padding: 20px;
  width: 100%;
}

footer #container-footer h2 {
  font-size: 30px;
}

footer #container-footer #menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #container-footer #menu-footer #menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  padding: 20px;
}

footer #container-footer #menu-footer #menu-links ion-icon {
  font-size: 40px;
}

footer #container-footer #menu-footer #menu-links h3 {
  margin-left: 15px;
}

footer #container-footer #menu-footer #menu-links p {
  font-size: 15px;
  margin-left: 15px;
}

footer #container-footer #menu-footer #menu-links .link {
  margin-left: 15px;
}

footer #container-footer #menu-footer #menu-links .link ion-icon {
  font-size: 20px;
  color: #62a87c;
  margin-right: 5px;
}

footer #container-footer #menu-footer #form {
  background-color: #62a87c;
  border-radius: 4px;
  width: 35%;
  text-align: center;
}

footer #container-footer #menu-footer #form h3 {
  color: #fff;
}

footer #container-footer #menu-footer #form form {
  padding: 10px;
  text-align: justify;
}

footer #container-footer #menu-footer #form form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

footer #container-footer #menu-footer #form form input, footer #container-footer #menu-footer #form form select {
  width: 50%;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px;
}

footer #container-footer #menu-footer #form form input:last-of-type, footer #container-footer #menu-footer #form form select:last-of-type {
  width: 25%;
}

footer p {
  text-align: center;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */