*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    min-width: 100vw;
}

header{
    height: 100px;
    background-color: #62a87c;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 100px;
        width: auto;
    }

    nav{
        width: 40%;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;

                    &:hover{
                        color: #473080;
                    }
                }
            }
        }
    }

    #search{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 15%;
        ion-icon{
            color: #fff;
            font-size: 30px;
        }
        
        input{
            border-radius: 4px;
        }
    }
}  

main{
    #principal{
        .swiper-container{
            height: 600px;
            .swiper-slide{
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    #metodologia{
        text-align: center;
        background-color: #8ee3ef;
        margin: 20px;
        border-radius: 4px;

        h2{
            padding: 20px;
            font-size: 40px;
            color: #473080;
        }

        #metodologia-bloco{
            display: flex;
            justify-content: space-around;

            .blocos{
                width: 20%;

                .titulo{
                    background-color: #473080;
                    text-align: center;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    height: 150px;
    
                    img{
                        width: 80px;
                        height: auto;
                    }

                    h3{
                        color: #fff;
                        font-size: 30px;
                    }
                }

                .texto{
                    background-color: #fff;
                    height: 100%;
                    padding: 20px;
                    text-align: left;
                    text-transform: uppercase;

                    ul{
                        list-style: circle;
                        font-weight: bold;
                        padding: 10px;
                    } 
                }
            }
        }
    }

}

#mais{
    text-align: center;
    padding: 20px;

    h2{
        font-size: 12px;
    }

    h1, h2, a{
        padding: 10px;
    }

    a{
        text-decoration: none;
        border: 2px solid #62a87c;
        border-radius: 10px;
        color: #62a87c;
        font-weight: bold;
        transition: 0.2s;

        &:hover{
            background-color: #62a87c;
            color: #fff;
        }
    }
}

footer{
    #logo-Inf{
        display: flex;
        align-items: center;
    
        img{
            height: 100px;
            width: auto; 
        }
    
        hr{
            width: 100%;
            border: 1px solid;
        }
    }
    
    #container-footer{
        padding: 20px;
        width: 100%;

        h2{
            font-size: 30px;
        }

        #menu-footer{
            display: flex;
            justify-content: space-between;

            #menu-links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                font-size: 20px;
                padding:  20px;

                ion-icon{
                    font-size: 40px;
                }

                h3{
                    margin-left: 15px;
                }

                p{
                    font-size: 15px;
                    margin-left: 15px;
                }

                .link{
                    margin-left: 15px;
                    
                    ion-icon{
                        font-size: 20px;
                        color: #62a87c;
                        margin-right: 5px;
                    }
                }  
            }

            #form{
                background-color:#62a87c;
                border-radius: 4px;
                width: 35%;
                text-align: center;

                h3{
                    color: #fff;
                }

                form{
                    padding: 10px;
                    text-align: justify;

                    label{
                        display: flex;
                        color: #fff;

                    }

                    input, select{
                        width: 50%;
                        border-radius: 4px;
                        font-size: 12px;
                        margin-bottom: 10px;
                        padding: 5px;

                        &:last-of-type{
                            width: 25%;
                        }
                    }
                }
            }
        }
    }

    p{
        text-align: center;
        font-size: 10px;
    }
}